.home-container {
  background-color: #e6f2ff;
  margin-top: 50px;
  padding: 10px;
}

.experience {
  font-weight: bolder;
  margin-left: 150px;
}

.title {
  font-size: 20px;
}

.btn-name {
  margin-top: -10px;
  font-weight: bold;
}

ul.b {
  list-style-type: square;
}

.more-info {
  margin-left: 180px;
}

.job-icon {
  color: aqua;
}

.experience-wrapper {
  margin-top: 30px;
}
